$color_primario: #F9E267;
$color_secundario: #494747;
$color_text: #403E3E;
$img_fondo:#D8D8D8;
$color_text_white:#EFEFEF;

$telefono:480px;
$tablet:768px;
$desktop:1024px;

$fuente_principal: 'Open Sans';
